body,html{
  margin: 0;
}
.bg{
  background-image: url("Background4.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  filter: contrast(110%);
  position: fixed;
  z-index: -2;
}
.title{
  color: white;
  font-family: 'Press Start 2P', cursive;
  margin: 0;
  font-size: 4rem;
  position: relative;
    top: 100px;
    left: 55px;
  text-align: left;
  width: 800px;
 /*color whiteish- ffdbc5*/
}
.titleg{
  color: #ff5126;
}
.email{
  color: #fc4903;
  font-family: 'Press Start 2P', cursive;
  position: absolute;
  top: 10px;
  left: 700px;
  width: 600px;
}
.subtitle{
  color: #fc4903;
  font-family: 'Libre Barcode 39 Extended Text', cursive;
  font-size: 2.6rem;
  position: fixed;
    bottom: -90px;
    right: 10px;
}
.education{
  height: 18%;
  width: 800px;
  color: white;
  position:  absolute;
  top: 125px;
  left: 50px;
  font-family: 'Press Start 2P', cursive;
}
.UCL{
  background-color: black;
  width: 550px;
}
.Brunel{
  width: 280px;
  background-color: #1c3aff;
}
.Education{
  color: #fc4903;
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  position: relative;
    top: 75px;
  padding-top: 4%;
  text-align: left;
}
.DateEducation{
  position: relative;
  bottom: 70px;
  left: 500px;
  text-align: right;
}
.Course1{
  position: relative;
  bottom: 35px;
  left: 40px;
}
.Brunel{
  position: relative;
  bottom: 20px;
}
.London{
  position: relative;
  bottom: 20px;
}
.DateEducation1{
  position: relative;
  bottom: 85px;
  left: 515px;
  text-align: right;
}
.Course2{
  position: relative;
  bottom: 55px;
  left: 40px;
}
.WorkExperience1{
  width: 900px;
  color: white;
  position:  absolute;
   top: 475px;
   left: 50px;
  font-family: 'Press Start 2P', cursive;
}
.WorkExperience{
  color: #fc4903;
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  position: relative;
   top: 100px;
   bottom: 80px;
  text-align: left;
}
.Swakeleys{
  background-color: #00a305;
  width: 420px;
}
.OIEG{
  background-color: #0003c7;
  width: 740px;
}
.Belmore{
  width: 360px;
  background-color: #1c3aff;
}
.workDate1{
  position: absolute;
  left: 1000px;
  width: 400px;
}
.workDate2{
  position: absolute;
  left: 1000px;
  width: 600px;
}
.workDate3{
  position: absolute;
  left: 1000px;
  width: 600px;
}
.AP{
  width: 1600px;
  color: white;
  position:  absolute;
   top: 1275px;
   left: 50px;
  font-family: 'Press Start 2P', cursive;
  margin: auto;
}
.AP1{
  color: #fc4903;
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  position: relative;
   top: 100px;
  text-align: left;
}
.APDate{
  position: absolute;
  left: 1000px;
  width: 200px;
}
.APDate1{
  position: absolute;
  left: 1000px;
  width: 200px;
}
.BCS{
  background-color: black;
  width: 520px;
}
.SwakeleysStaff{
  background-color: #00a305;
  width: 580px;
}
.Project1{
  text-decoration: underline;
  text-decoration-thickness: 2px;
  background-color: #fc4903;
}
.Project2{
  text-decoration: underline;
  text-decoration-thickness: 2px;
  background-color: #fc4903
}
.container0{
  /*background-color: blue;*/
  height: 18%;
  width: 800px;
  font-family: 'Press Start 2P', cursive;
  color: white;
  position: absolute;
  top: 190px;
  left: 50px;
  z-index: 1;
}
.container1{
  height: 100%;
  width: 800px;
  /*background-color: red;*/
  position: relative;
  top: 10px;
  left: 50px;
}
